{
  "openapi": "3.1.0",
  "info": {
    "title": "BolagsAPI",
    "version": "1.0.0",
    "description": "Swedish Company Data API - Access official data from Bolagsverket and SCB",
    "contact": {
      "email": "hello@bolagsapi.se",
      "url": "https://bolagsapi.se"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://bolagsapi.se/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.bolagsapi.se",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Identity",
      "description": "Auth by Hugo response contracts; these endpoints use auth.byhugo.se. See https://bolagsapi.se/identity/docs#response-schemas"
    },
    {
      "name": "Company",
      "description": "Company lookup and information"
    },
    {
      "name": "Account",
      "description": "Current API caller account and usage"
    },
    {
      "name": "Person",
      "description": "Person-to-company role and beneficial ownership lookups"
    },
    {
      "name": "Validation",
      "description": "Organization number validation"
    },
    {
      "name": "Search",
      "description": "Company search"
    },
    {
      "name": "Reports",
      "description": "Annual reports"
    },
    {
      "name": "Financials",
      "description": "Parsed financial data from annual reports (Starter+ plans)"
    },
    {
      "name": "Analytics",
      "description": "Company analytics and insights"
    },
    {
      "name": "Industry",
      "description": "Industry analysis"
    },
    {
      "name": "Valuation",
      "description": "Company valuation (Pro+ plans)"
    },
    {
      "name": "Export",
      "description": "Bulk data export"
    },
    {
      "name": "Webhooks",
      "description": "Real-time company change notifications (Pro+ plans)"
    },
    {
      "name": "Regulatory",
      "description": "Finansinspektionen (FI) regulatory data (Starter+ plans)"
    },
    {
      "name": "IP",
      "description": "PRV intellectual property data - trademarks and patents (Starter+ plans)"
    },
    {
      "name": "TaxRates",
      "description": "Municipal tax rates from Skatteverket/SCB open data"
    },
    {
      "name": "Rates",
      "description": "Interest rates and exchange rates from Sveriges Riksbank"
    },
    {
      "name": "Screening",
      "description": "PEP & Sanctions screening for AML/KYC compliance (Starter+ plans)"
    },
    {
      "name": "BRF",
      "description": "Optional BRF module: structured housing association data"
    }
  ],
  "paths": {
    "/v1/vat/validate": {
      "post": {
        "tags": [
          "Validation"
        ],
        "summary": "Validate an EU VAT number through VIES",
        "operationId": "validateVatNumber",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Starter+. A single VAT check supporting the caller's intra-EU trade. Three enrichment units per successful response, including cached results and valid:false; errors consume no units. This is separate from Swedish SCB tax_status, syntactic organisation-number checks, and Stripe/Fortnox billing tax decisions. Name/address availability differs by country; null is not a mismatch. This endpoint does not perform approximate name matching. Results are cached for 24 hours per customer, VAT number and requester. Original check timestamps and consultation ID are preserved. Upstream outages, malformed upstream responses and timeouts never produce valid:false: retry according to Retry-After. Upstream timeout 10 seconds, no automatic retries.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VatValidationRequest"
              },
              "example": {
                "country_code": "SE",
                "vat_number": "556016068001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid or invalid result, either newly checked or cached for up to 24 hours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, unsupported country, query parameters, or VIES rejected input/requester details"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Starter or higher required, or key restricted"
          },
          "429": {
            "description": "Customer attempt limit or normal API quota/rate limit exceeded; no definitive VAT status"
          },
          "503": {
            "description": "VIES unavailable, timeout, capacity limit or circuit breaker; valid is null",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Suggested delay in seconds"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatValidationUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/{orgnr}/lei": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "LEI and international accounting-consolidating parents",
        "operationId": "getCompanyLei",
        "description": "Pro+. Uses 3 enrichment units. Daily local GLEIF Golden Copy snapshot; no upstream lookup. Linkage uses a validated Swedish organisation number registered with Bolagsverket (RA000544), never a name match. Current ACTIVE/PUBLISHED direct and ultimate accounting-consolidating relationships are separate from legal ownership; no ownership percentage is inferred. Other relationship states, including LAPSED, are retained in other_relationships. Relations and exceptions refer to canonical_lei only. All matched identities are retained; competing identities return ambiguous and no canonical parents. An empty parent list does not establish that a company has no parent; reporting_exceptions preserves source reasons. Foreign parents may have no Swedish orgnr. Source record dates are independent of snapshot publication; stale means publication older than 48 hours. The same object is included as international_relationships on /group, independently of its Swedish structure.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Swedish organisation number (10 digits, optional hyphen)",
            "example": "5560297029"
          }
        ],
        "responses": {
          "200": {
            "description": "Company exists; linkage may be matched, ambiguous or not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid organisation number"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Pro or higher required"
          },
          "404": {
            "description": "Company not found"
          },
          "429": {
            "description": "Rate or quota limit exceeded"
          },
          "503": {
            "description": "No published local GLEIF snapshot"
          }
        }
      }
    },
    "/v1/reports/insights/search": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Search annual report insights",
        "description": "Search indexed annual report insights across companies for lead generation and market research. Results include source metadata: PDF rows are AI-extracted summaries, iXBRL rows are deterministic XHTML/source-text snippets.",
        "operationId": "searchAnnualReportInsights",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3
            },
            "description": "Search query"
          },
          {
            "name": "signal_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated signal filters"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated source filters"
          },
          {
            "name": "year_from",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year_to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}(-\\d{2})?$"
            },
            "description": "Start period as YYYY-MM or YYYY-MM-DD"
          },
          {
            "name": "period_to",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}(-\\d{2})?$"
            },
            "description": "End period as YYYY-MM or YYYY-MM-DD"
          },
          {
            "name": "sni",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated SNI filters"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated city filters"
          },
          {
            "name": "lan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated county-code filters"
          },
          {
            "name": "postal_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated postal-code filters"
          },
          {
            "name": "employees_min",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "employees_max",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "revenue_min",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "revenue_max",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_financials",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "Pro max 100, Business max 500"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annual report insight search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportInsightSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/company/{orgnr}/reports/insights": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get company annual report insights",
        "description": "Return extracted annual report insights for one company across PDF AI extraction and deterministic iXBRL text sources.",
        "operationId": "getCompanyAnnualReportInsights",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signal_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year_from",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year_to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "Starter max 50, Pro max 100, Business max 250"
          }
        ],
        "responses": {
          "200": {
            "description": "Company annual report insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyReportInsightsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get current API caller",
        "description": "Return safe account metadata for the customer that owns the current API key, the current API key metadata, and current billing-period usage. This endpoint requires bearer API-key authentication; dashboard session-only account routes remain separate under `/v1/account`.",
        "operationId": "getCurrentCaller",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current API caller and usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/company/{orgnr}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get company information",
        "description": "Retrieve detailed information about a company by organization number",
        "operationId": "getCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "description": "Language for descriptions (sv or en)",
            "schema": {
              "type": "string",
              "enum": [
                "sv",
                "en"
              ],
              "default": "sv"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include additional data. Comma-separated values: 'financials' for financial data, 'fi' for FI regulatory data, 'prv' for trademarks/patents (Starter+ plans)",
            "schema": {
              "type": "string",
              "example": "financials,fi,prv"
            }
          },
          {
            "name": "name_protection_number",
            "in": "query",
            "required": false,
            "description": "Select a specific registered business when a sole trader has multiple businesses under the same personal identity number. Use the value returned by /v1/search.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9]\\d*$",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company found",
            "headers": {
              "X-Data-Source": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataSource"
                }
              },
              "X-Data-Updated-At": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/signatory": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get signatory rules",
        "description": "Get signatory rules (firmateckning) for a company. A cache miss returns HTTP 202 with Retry-After while public company information is queued. Poll the same URL until HTTP 200. Queued responses are not billed.",
        "operationId": "getSignatory",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signatory rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatoryResponse"
                }
              }
            }
          },
          "202": {
            "description": "Signatory data is queued or being fetched. Poll after Retry-After; this response is not billed.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The background data source failed temporarily"
          }
        }
      }
    },
    "/v1/company/{orgnr}/signatories": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get signatories with signing rights",
        "description": "Get persons authorized to sign for the company. For foundations, explicit source signatories are returned with signing_right UNKNOWN; no automatic signing authority is inferred from the free text. A cache miss returns HTTP 202 with Retry-After while public company information is queued. Poll until HTTP 200. Queued responses are not billed.",
        "operationId": "getSignatories",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of signatories with signing rights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatoriesResponse"
                }
              }
            }
          },
          "202": {
            "description": "Signatory data is queued or being fetched. Poll after Retry-After; this response is not billed.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatoriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The background data source failed temporarily"
          }
        }
      }
    },
    "/v1/company/{orgnr}/persons": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get board members, executives, and auditors (Pro+)",
        "description": "Get board members, executives, and auditors. If no local snapshot exists, the lookup is queued and returns HTTP 202 with Retry-After. Poll the same URL until HTTP 200 is returned. Queued responses are not billed. Requires Pro plan or higher.",
        "operationId": "getPersons",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person snapshot is available, or the completed lookup found no persons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Person data has been queued or is being fetched. Poll the same URL after Retry-After; this response is not billed.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "example": 10
                },
                "description": "Seconds before polling again"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The background data source failed temporarily",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "example": 60
                },
                "description": "Seconds before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/{orgnr}/ownership": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get ownership information (Pro+)",
        "description": "Get ownership information for a company. A cache miss returns HTTP 202 with Retry-After while public company information is queued. Poll until HTTP 200. Queued responses are not billed. Requires Pro plan or higher.",
        "operationId": "getOwnership",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ownership information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnershipResponse"
                }
              }
            }
          },
          "202": {
            "description": "Ownership data is queued or being fetched. Poll after Retry-After; this response is not billed.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnershipResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The background data source failed temporarily"
          }
        }
      }
    },
    "/v1/person/companies": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Get companies connected to a person (Pro+)",
        "description": "Returns companies where the person is connected through registered roles such as board member, CEO, signatory, auditor, or other company engagement. A supplied personnummer starts a demand-driven background identity resolution when local data is missing; poll responses returned with HTTP 202 according to Retry-After. No bulk identity resolution is performed for company boards. Supply a person_id from the company persons endpoint when no personnummer is available. This endpoint is for general company engagements, not official beneficial ownership.",
        "operationId": "postPersonCompanies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "required": [
                      "personnummer"
                    ]
                  },
                  {
                    "required": [
                      "personnummer_hash"
                    ]
                  },
                  {
                    "required": [
                      "person_id"
                    ]
                  }
                ],
                "properties": {
                  "personnummer": {
                    "type": "string",
                    "pattern": "^\\d{8}-?\\d{4}$",
                    "example": "19890215-1234",
                    "description": "Swedish personnummer or samordningsnummer, 12 digits with optional separator"
                  },
                  "personnummer_hash": {
                    "type": "string",
                    "pattern": "^[a-fA-F0-9]{64}$",
                    "description": "SHA-256 hash returned by the company persons endpoint. Hash lookups only use locally indexed data."
                  },
                  "person_id": {
                    "type": "string",
                    "pattern": "^per_1_[A-Za-z0-9_-]+$",
                    "description": "Opaque person identifier returned by the company persons endpoint. This is the preferred identifier when personnummer_hash is null."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Companies connected to the person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonCompaniesResponse"
                }
              }
            }
          },
          "202": {
            "description": "Person data is queued or refreshing. Poll after Retry-After. A lookup still pending after five minutes returns 503 instead. Neither response is billed.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "example": 2
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonCompaniesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "person_lookup_failed: lookup failed or exceeded five minutes pending. Stop polling and contact support with request_id. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/{orgnr}/beneficial-owners": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get official beneficial owners (Pro)",
        "description": "Returns registered beneficial owners (verkliga huvudmän) for a company. Requires Pro or Business. Pro includes 10 official beneficial ownership calls per month, Business includes 100; overage is 4 kr/call on Pro and 3 kr/call on Business.",
        "operationId": "getBeneficialOwners",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "required": false,
            "description": "Optional historical lookup date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "fresh",
            "in": "query",
            "required": false,
            "description": "Set true to bypass cache and fetch fresh data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficial owner data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwnersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/persons/beneficial-of": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Get companies where a person is official beneficial owner (Pro)",
        "description": "Returns companies where the supplied personnummer is registered as official beneficial owner (verklig huvudman). This endpoint is separate from general company roles and engagements. Requires Pro or Business. Pro includes 10 official beneficial ownership calls per month, Business includes 100; overage is 4 kr/call on Pro and 3 kr/call on Business.",
        "operationId": "getPersonBeneficialOf",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "personnummer"
                ],
                "properties": {
                  "personnummer": {
                    "type": "string",
                    "pattern": "^\\d{8}-?\\d{4}$",
                    "example": "19890215-1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Companies where the person is beneficial owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonBeneficialOfResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/contact": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get contact information",
        "description": "Get contact information for a company. A cache miss returns HTTP 202 with Retry-After while public company information is queued. Poll until HTTP 200. Queued responses are not billed.",
        "operationId": "getContact",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "202": {
            "description": "Contact data is queued or being fetched. Poll after Retry-After; this response is not billed.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The background data source failed temporarily"
          }
        }
      }
    },
    "/v1/company/{orgnr}/announcements": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get legal announcements",
        "description": "Requires Starter plan or higher. Get POIT (Post- och Inrikes Tidningar) legal announcements for a company including bankruptcies (konkurser), creditor calls (kallelser), company registrations, and debt restructuring (skuldsaneringar). A valid organization number with no matching announcements returns 200 with an empty announcements array. New POIT publications are polled every 15 minutes during the weekday publication window and queued for webhook delivery within one minute after ingestion.",
        "operationId": "getAnnouncements",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by POIT category (1–9)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by POIT announcement type ID",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Earliest publication date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Latest publication date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "include_text",
            "in": "query",
            "required": false,
            "description": "Include full announcement text (larger response)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Announcements list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/announcements/{id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get announcement details",
        "description": "Requires Starter plan or higher. Get full details for a specific POIT announcement including the complete announcement text.",
        "operationId": "getAnnouncementById",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Announcement ID (kungörelse-id)",
            "schema": {
              "type": "string",
              "example": "K331995-26"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Announcement details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/bankruptcy": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get bankruptcy status (Starter+)",
        "description": "Check if a company has any bankruptcy announcements and get the latest one if it exists. Requires Starter plan or higher.",
        "operationId": "getBankruptcyStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bankruptcy status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankruptcyStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/creditor-call": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get creditor call status (Starter+)",
        "description": "Check if a company has any creditor call (kallelse på borgenärer) announcements and get the latest one if it exists. Requires Starter plan or higher.",
        "operationId": "getCreditorCallStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creditor call status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditorCallStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/financial-health": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get financial health analysis (Starter+)",
        "description": "Get financial stability metrics derived from public annual reports. This is NOT credit information under Kreditupplysningslagen (SFS 1973:1173).\n\nReplaces the deprecated `/credit` endpoint with KUL-compliant terminology.\n\nRequires Starter plan or higher.",
        "operationId": "getFinancialHealth",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Swedish organization number (10 digits, with or without hyphen)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}-?\\d{4}$",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial health analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialHealth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/validate/{orgnr}": {
      "get": {
        "tags": [
          "Validation"
        ],
        "summary": "Validate organization number",
        "description": "Quickly validate an org number with checksum and existence check",
        "operationId": "validateOrgnr",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number to validate",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search companies",
        "description": "Search companies by text query and/or filters. Text search is optional - filter-only searches are supported. Multi-value filters accept comma-separated values (OR logic within filter, AND logic between filters).",
        "operationId": "searchCompanies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query (min 3 characters if provided). Optional - filter-only searches are supported.",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100,
              "example": "tech"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Filter by city name(s), comma-separated for multiple",
            "schema": {
              "type": "string",
              "example": "Stockholm,Göteborg"
            }
          },
          {
            "name": "sni",
            "in": "query",
            "required": false,
            "description": "Filter by SNI code(s), comma-separated. Prefix-matches against **all** of a company's registered SNI codes (up to 5 per company, both primary and secondary) — e.g. `sni=46340` returns companies where 46340 appears in any SNI slot. Shorter prefixes broaden the match: `sni=62` matches 62010, 62020, …. Multiple codes are OR'd together (max 10).",
            "schema": {
              "type": "string",
              "example": "62,63"
            }
          },
          {
            "name": "org_form",
            "in": "query",
            "required": false,
            "description": "Filter by organization form(s), comma-separated",
            "schema": {
              "type": "string",
              "example": "AB,HB"
            }
          },
          {
            "name": "lan",
            "in": "query",
            "required": false,
            "description": "Filter by county code(s), comma-separated (01=Stockholm, 20=Dalarna, etc.)",
            "schema": {
              "type": "string",
              "example": "01,14"
            }
          },
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "description": "Filter by municipality code or name, comma-separated for multiple",
            "schema": {
              "type": "string",
              "example": "0880,Stockholm"
            }
          },
          {
            "name": "postal_code",
            "in": "query",
            "required": false,
            "description": "Filter by postal code(s), comma-separated. Supports both formats (11122 or 111 22)",
            "schema": {
              "type": "string",
              "example": "11122,11447"
            }
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "description": "Filter by street address (partial match, case-insensitive)",
            "schema": {
              "type": "string",
              "example": "Kungsgatan"
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "description": "Only return active companies",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "employees_min",
            "in": "query",
            "required": false,
            "description": "Minimum number of employees in the latest parsed financial period",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "employees_max",
            "in": "query",
            "required": false,
            "description": "Maximum number of employees in the latest parsed financial period",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "revenue_min",
            "in": "query",
            "required": false,
            "description": "Minimum annual revenue (SEK) in the latest parsed financial period",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "revenue_max",
            "in": "query",
            "required": false,
            "description": "Maximum annual revenue (SEK) in the latest parsed financial period",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "equity_ratio_min",
            "in": "query",
            "required": false,
            "description": "Minimum equity ratio (0-100%)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "profitable",
            "in": "query",
            "required": false,
            "description": "Filter by profitability (positive net income)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_reports",
            "in": "query",
            "required": false,
            "description": "Only companies with annual reports",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_financials",
            "in": "query",
            "required": false,
            "description": "Only companies with parsed financial data",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parent_orgnr",
            "in": "query",
            "required": false,
            "description": "Filter subsidiaries of a parent company",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "fi_licensed",
            "in": "query",
            "required": false,
            "description": "Has Finansinspektionen license",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "no_fi_warnings",
            "in": "query",
            "required": false,
            "description": "Exclude companies with FI warnings",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_auditor_remarks",
            "in": "query",
            "required": false,
            "description": "Has auditor remarks in reports",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "foreign_owned",
            "in": "query",
            "required": false,
            "description": "Filter by foreign ownership. true = only foreign-owned companies (parent company is not Swedish), false = only Swedish-owned subsidiaries",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page. Maximum depends on tier: free=100, starter=500, pro=2000, business=10000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. For large datasets, prefer cursor pagination with after_orgnr",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "after_orgnr",
            "in": "query",
            "required": false,
            "description": "Cursor for keyset pagination. Returns companies after this org number. More efficient than offset for large datasets.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{10}$",
              "example": "5567037485"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "description": "Sort field. registered_date sorts by company registration date. revenue/employees sort by latest financial data (requires LATERAL JOIN, may be slower).",
            "schema": {
              "type": "string",
              "enum": [
                "orgnr",
                "name",
                "updated_at",
                "registered_date",
                "revenue",
                "employees"
              ],
              "default": "name"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "registered_after",
            "in": "query",
            "required": false,
            "description": "Filter companies registered on or after this date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "registered_before",
            "in": "query",
            "required": false,
            "description": "Filter companies registered on or before this date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          },
          {
            "name": "include_financials",
            "in": "query",
            "required": false,
            "description": "Include revenue and employees in results. Automatically enabled when sorting by revenue/employees.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/search/persons": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search persons (Starter+)",
        "description": "Search persons (board members, executives, accountants) by name across all companies. Returns grouped results using (name + city + age) as pseudo-identifier. Note: Same person may appear multiple times if data differs across companies. Requires Starter plan or higher.",
        "operationId": "searchPersons",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Name search query (min 2 characters, case-insensitive partial match)",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100,
              "example": "andersson"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Filter by city",
            "schema": {
              "type": "string",
              "example": "Stockholm"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Filter by gender",
            "schema": {
              "type": "string",
              "enum": [
                "male",
                "female"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "List annual reports",
        "description": "Get a list of annual reports for a company with pagination support. Check downloadable before offering a report-file download.",
        "operationId": "listReports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of reports to return (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Starting position for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/reports/{reportId}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Download annual report",
        "description": "Download a specific annual report when downloadable=true. PDF is the default. The API authorizes the request and usually returns a 302 redirect to a short-lived signed download URL. Use ?format=raw for the original iXBRL file when available. For customers with the BRF module, BRF PDFs return 200 application/pdf directly and use the module PDF allowance: 500 unique association/fiscal-period downloads included per module period, then graduated pricing. Repeat downloads do not count again.",
        "operationId": "downloadReport",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "description": "Report ID from the reports list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format: pdf (default) or raw for original iXBRL when available",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "raw"
              ],
              "default": "pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report file returned directly when redirect is not used. BRF module PDFs always return bytes directly; unique download recorded after successful storage retrieval.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "description": "PDF file (default format)"
              },
              "application/xhtml+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "description": "Original iXBRL file (format=raw, when available)"
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to a short-lived signed download URL",
            "headers": {
              "Location": {
                "description": "Signed URL for the report file",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ReportDownloadRestricted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/reports/{reportId}/auditor": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Download auditor's report (Revisionsberättelse)",
        "description": "Download the auditor's report (Revisionsberättelse) for a specific annual report, if available. Returns PDF by default, or original XHTML with ?format=raw. Check has_auditor field in reports list.",
        "operationId": "downloadAuditorReport",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "description": "Report ID from the reports list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format: pdf (default) or raw for original XHTML",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "raw"
              ],
              "default": "pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auditor's report file (PDF or XHTML depending on format parameter)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "description": "PDF file (default format)"
              },
              "application/xhtml+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "description": "Original XHTML file (format=raw)"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/financials": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get full financial data",
        "description": "Get multi-year financial data parsed from annual reports. Includes income statement, balance sheet, and key ratios. Requires Starter plan or higher. Some fields may be null when K2, condensed annual reports, or PDF-only filings do not expose machine-readable source lines. PDF filing periods without parseable figures are listed in available_periods_without_figures.",
        "operationId": "getFinancials",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "include_comparative",
            "in": "query",
            "required": false,
            "description": "Include comparative data from reports (multiple values for same year)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Select company-only or consolidated group figures. When omitted, one consistent series is selected, preferring exact company figures, then safely unclassified official figures, coarse company fallbacks, and finally group figures. all returns separate rows when multiple scopes exist.",
            "schema": {
              "type": "string",
              "enum": [
                "company",
                "group",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/financials/latest": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get latest financial year",
        "description": "Get only the most recent fiscal year's financial data. Requires Starter plan or higher.",
        "operationId": "getFinancialsLatest",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Select the accounting scope. all considers every scope and returns the best latest row.",
            "schema": {
              "type": "string",
              "enum": [
                "company",
                "group",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest financial data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsLatestResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/financials/summary": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get financial trends and growth",
        "description": "Get trend data and growth metrics calculated from historical financial data. Requires Starter plan or higher.",
        "operationId": "getFinancialsSummary",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Select company-only, consolidated group, or all scoped trend rows.",
            "schema": {
              "type": "string",
              "enum": [
                "company",
                "group",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial summary with trends",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsSummaryResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/validate/batch": {
      "post": {
        "tags": [
          "Validation"
        ],
        "summary": "Batch validate organization numbers",
        "description": "Validate up to 100 organization numbers in a single request",
        "operationId": "batchValidate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch validation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchValidationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/health": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get company health score (Pro+)",
        "description": "Calculate a 0-100 health score based on company status, tax registration, age, and risk factors. Includes industry benchmark comparison showing how the company ranks within its primary SNI industry. Requires Pro plan or higher.",
        "operationId": "getHealthScore",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "description": "Language for SNI description (sv or en). Defaults to sv.",
            "schema": {
              "type": "string",
              "enum": [
                "sv",
                "en"
              ],
              "default": "sv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/timeline": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get company timeline",
        "description": "Get a chronological list of company events including registration, report filings, and changes. Pro customers can request Bolagsverket case events with include_cases=true.",
        "operationId": "getTimeline",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "description": "Language for descriptions (sv or en)",
            "schema": {
              "type": "string",
              "enum": [
                "sv",
                "en"
              ],
              "default": "sv"
            }
          },
          {
            "name": "include_cases",
            "in": "query",
            "required": false,
            "description": "Include cached Bolagsverket company and financial-report cases. Requires Pro or higher.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/cases": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get Bolagsverket company cases (Pro+)",
        "description": "Return normalized company cases and financial-report cases from Bolagsverket. Results are cached for 24 hours. A financial-report case is not the same as a downloadable document; use /reports for documents.",
        "operationId": "getCompanyCases",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "7884001517"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Only cases starting or ending on or after this date."
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Only cases starting or ending on or before this date."
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized Bolagsverket company cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCasesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "Bolagsverket upstream error"
          },
          "503": {
            "description": "Bolagsverket provider quota exhausted"
          }
        }
      }
    },
    "/v1/company/{orgnr}/similar": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Find similar companies",
        "description": "Find companies with matching SNI codes in the same geographic area",
        "operationId": "getSimilarCompanies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "same_city",
            "in": "query",
            "required": false,
            "description": "Only return companies in the same city",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Similar companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarCompaniesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/workplaces": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get company workplace locations (arbetsställen)",
        "description": "Get registered workplace locations for a legal entity. The organization number identifies the legal entity, while the CFAR number from SCB's Centrala företags- och arbetsställeregistret identifies an individual workplace. Several workplaces can share one organization number. A workplace is not necessarily a legal branch or separate legal entity. Coverage depends on source data. Returns an empty array if no workplace data is available.",
        "operationId": "getWorkplaces",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5560138298"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workplace locations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkplacesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/group": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get corporate group structure (Pro+)",
        "description": "Get the corporate group structure for a company, including ultimate parent, parent chain, siblings, and direct subsidiaries. Uses pre-computed hierarchy data when available. Requires Pro plan or higher.",
        "operationId": "getGroupStructure",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5560000753"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupStructureResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/group/members": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get all members of a corporate group (Pro+)",
        "description": "Get all companies that belong to the same corporate group as the specified company. Returns the full hierarchy from ultimate parent down. Requires Pro plan or higher.",
        "operationId": "getGroupMembers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5560000753"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMembersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/company/{orgnr}/analysis": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get AI-powered financial analysis",
        "description": "Get AI-generated financial analysis derived from public annual reports. Provides a stability rating (AAA-C scale), risk factors, and summary. This is NOT credit information under Kreditupplysningslagen (SFS 1973:1173). Results are cached per fiscal year. Requires Pro plan or higher.",
        "operationId": "getAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "Organization number",
            "schema": {
              "type": "string",
              "example": "5567037485"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for summary text",
            "schema": {
              "type": "string",
              "enum": [
                "sv",
                "en"
              ],
              "default": "sv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/industry/{sniCode}": {
      "get": {
        "tags": [
          "Industry"
        ],
        "summary": "Get industry analysis (Pro+)",
        "description": "Get statistics about companies in a specific SNI code industry. Requires Pro plan or higher.",
        "operationId": "getIndustryAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sniCode",
            "in": "path",
            "required": true,
            "description": "SNI code (2-5 digits)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{2,5}$",
              "example": "62010"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "SNI version for reference-code lookup. Company matching expands through SNI 2007/SNI 2025 mappings.",
            "schema": {
              "type": "string",
              "enum": [
                "2007",
                "2025"
              ]
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "description": "Language for descriptions (sv or en)",
            "schema": {
              "type": "string",
              "enum": [
                "sv",
                "en"
              ],
              "default": "sv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Industry analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustryAnalysisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierAccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/sni-codes": {
      "get": {
        "tags": [
          "Industry"
        ],
        "summary": "List all SNI codes",
        "description": "Get a list of all SNI codes (Swedish Standard Industrial Classification) available in the system. Supports filtering by hierarchy level, section, and SNI version.",
        "operationId": "listSniCodes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "level",
            "in": "query",
            "required": false,
            "description": "Filter by hierarchy level (2=division, 3=group, 4=class, 5=subclass)",
            "schema": {
              "type": "integer",
              "enum": [
[...]
